@page "/"
@page "/login"
@page "/login/{Route}"
@inherits Page
@layout EmptyLayout

<Info Translate="x => I18n.Message.Get(x)" />
<div class="main d-flex justify-content-center w-100">
	
	<main class="content d-flex p-0">
		<div class="container d-flex flex-column">
			<div class="row h-100 login-page">
				<div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
					<div class="d-table-cell align-middle">

						<div class="text-center mt-4">
							<span class="h2">@I18n.Title.Application_Title</span>
							<p class="lead text-danger">
								@I18n.Title.Application_Description
							</p>
						</div>
						<LoginForm OnLoggedIn="async () => await GoAsync()" OnRecover="async () => await GoToRecoverAsync()" />
					</div>
				</div>
			</div>
		</div>
	</main>
</div>