@inherits View<Core.Common.Models.Identity.UserModel>

<MxView IsLoading="IsLoading">
	<Body>
		@if (Succeeded)
		{
			<div class="alert alert-success alert-dismissible" role="alert">
				<div class="alert-message">
					<small>@I18n.Text.EmailConfirm</small>
				</div>
			</div>
		}		
		@*<Row>
			<Cell Size="12">
				@if (Succeeded)
				{
					<TelerikButton Class="btn btn-danger btn-sm float-end me-2" OnClick="() => OnPasswordConfirm?.Invoke()" IconClass="k-icon k-i-unlock">
						@I18n.Labels.ButtonPasswordConfirm
					</TelerikButton>
				}
			</Cell>
		</Row>*@
	</Body>	
</MxView>