@inherits View<LoginModel>

<MxView IsLoading="IsLoading" FullSize="false" LayoutStyle="ViewLayoutStyle.Simple">
	<Body>
		<TelerikCard>
			<CardBody>
				<Row>
					<Cell Size="12">
						<FieldLabel Text="@I18n.Model.UserModel_UserName" />
						<TelerikTextBox @bind-Value="Model.UserName" />
					</Cell>
				</Row>
				<Row>
					<Cell Size="12">
						<FieldLabel Text="@I18n.Model.UserModel_CurrentPassword" />
						@*<HxInputText @bind-Value="Model.Password" Type="InputType.Password" />*@
						<TelerikTextBox @bind-Value="@Model.Password" Password="true" />
					</Cell>
				</Row>
				<Row>
					<Cell Size="12" CssClass="">
						<Button CssClass="btn btn-success btn-sm float-end"
								OnClick="async () => await LoginAsync()"
								Icon="FontIcon.Unlock"
								Text="@I18n.Labels.Button_Login">
						</Button>
						<a class="float-end me-2" @onclick="() => OnRecover?.Invoke()">
							<small class="font-weight-bold">Recuperare parola</small>
						</a>
					</Cell>
				</Row>
			</CardBody>

		</TelerikCard>
	</Body>
</MxView>