@inherits FormView<PasswordModel>

<MxView>
	<Actions>
		<Button Icon="FontIcon.Save"
					Text="@I18n.Labels.ButtonSave"
					OnClick="async () => await SaveDataAsync()" />
	</Actions>
	<Body>
		<DataField Label="@I18n.Model.UserModel_CurrentPassword">
			<Content>
				<TelerikTextBox @bind-Value="Model.Password" Type="InputType.Password" />
			</Content>
		</DataField>
		<DataField Label="@I18n.Model.UserModel_NewPassword">
			<Content>
				<TelerikTextBox @bind-Value="Model.NewPassword" Type="InputType.Password" />
			</Content>
		</DataField><DataField Label="@I18n.Model.UserModel_NewPasswordRepeat">
			<Content>
				<TelerikTextBox @bind-Value="Model.NewPasswordRepeat" Type="InputType.Password" />
			</Content>
		</DataField>
	</Body>
</MxView>
