<nav class="navbar navbar-expand navbar-light navbar-bg">
	<div class="navbar-collapse collapse">
		<ul class="navbar-nav navbar-align">

			<li class="nav-item dropdown">
				<a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">

				</a>

				<a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
					@{
						if (ProfileData != null)
						{
							<span>@($"{ProfileData?.User.FirstName} {ProfileData?.User.LastName}")</span>
						}
					}
				</a>
				<div class="dropdown-menu dropdown-menu-end">
					<span class="dropdown-item" @onclick="async () => await SignOutAsync()">Sign out</span>
				</div>
			</li>
		</ul>
	</div>
</nav>