@using Methodic.Blazor.UI.Components.Index.Pages;
<nav id="sidebar" class="sidebar">
	<div class="sidebar-content js-simplebar" data-simplebar="init">
		<div class="simplebar-wrapper" style="margin: 0px;">
			<div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask">
				<div class="simplebar-offset" style="right: 0px; bottom: 0px;">
					<div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: 100%; overflow: hidden scroll;">
						<div class="simplebar-content" style="padding: 0px;">
							<a class="sidebar-brand">
								<img src="/images/logo.jpg" class="img-fluid rounded-circle me-1" width="100" height="100" />
								<Separator />
								<span class="align-middle me-3">Atomic I&E Organiser</span>
							</a>

							<ul class="sidebar-nav">
								<li class="sidebar-item">
									<a class="sidebar-link">
										<TelerikFontIcon Icon="FontIcon.ChartLine" ThemeColor="@ThemeConstants.FontIcon.ThemeColor.Primary"/>
										<span class="align-middle ms-2" @onclick="async () => await GoToItemAsync(typeof(DashboardPage))">Dashboard</span>
									</a>
								</li>
								<li class="sidebar-item">
									<a class="sidebar-link">
										<TelerikFontIcon Icon="FontIcon.DocumentManager" ThemeColor="@ThemeConstants.FontIcon.ThemeColor.Primary" />
										<span class="align-middle" @onclick="async () => await GoToItemAsync(typeof(TransactionPage))">Transactions</span>
									</a>
								</li>
								<li class="sidebar-item">
									<a class="sidebar-link">
										<TelerikFontIcon Icon="FontIcon.Gear" ThemeColor="@ThemeConstants.FontIcon.ThemeColor.Primary" />
										<span class="align-middle" @onclick="async () => await GoToItemAsync(typeof(SettingsPage))">Settings</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="simplebar-placeholder" style="width: auto; height: 536px;"></div>
		</div>
		<div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
			<div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
		</div>
		<div class="simplebar-track simplebar-vertical" style="visibility: visible;">
			<div class="simplebar-scrollbar" style="height: 275px; transform: translate3d(0px, 0px, 0px); display: block;"></div>
		</div>
	</div>
</nav>