@inherits PageListView<FieldModel>

<MxView>
	<Actions>
		&nbsp;
		<OptionMenu>
			<Items>
				<OptionItem Text="Add" OnClick="() => Form()" />
			</Items>			
		</OptionMenu>
	</Actions>
	<Body>
		<TelerikListView TItem="FieldModel"
						 OnRead="ReadItemsAsync"
						 Pageable="true"
						 PageSize="Source.PageSize">
			<Template>
				<Row>
					<Cell Size="12" CssClass="responsive-item">
						<div class="d-flex align-items-start">
							<div class="flex-grow-1">
								<OptionMenu>
									<Items>
										<OptionItem Text="Details" OnClick="() => Detail(context)" />
										<OptionItem Text="Edit" OnClick="() => Edit(context)" />
										<OptionItem Text="Delete" OnClick="async () => await DeleteAsync(context)" />
									</Items>									
								</OptionMenu>
								<div class="mb-2">
									<TelerikFontIcon Icon="GetFieldIcon(context.Type)" ThemeColor="@ThemeConstants.SvgIcon.ThemeColor.Primary" />
									<strong class="ms-2">@context.Name</strong>
									<small class="ms-3">Type: <strong>@I18n.Enums.Get(context.Type)</strong></small>
								</div>
								<small class="text-muted">@context.Title</small>
							</div>
						</div>
						<hr />
					</Cell>
				</Row>
			</Template>
		</TelerikListView>
	</Body>
</MxView>