@inherits FormView<FormModel>

<MxView>
	<Actions>
		&nbsp;
		<Button CssClass="float-end"
				Icon="FontIcon.Save"
				OnClick="async () => await SaveAsync()" />
	</Actions>
	<Body>
		<Row>
			<Cell Size="2">
				@I18n.Model.FormModel_Name
			</Cell>
			<Cell Size="8">
				<TelerikTextBox @bind-Value="Model.Name" />
			</Cell>
		</Row>
		<Row>
			<Cell Size="2">
				@I18n.Model.FormModel_Description
			</Cell>
			<Cell Size="6">
				<TelerikTextArea @bind-Value="Model.Description" Class="textarea-class" />
			</Cell>
		</Row>
	</Body>
</MxView>