@inherits FormView<CollectionTypeModel>

<MxView>
	<Actions>
		&nbsp;
		<Button CssClass="float-end"
				Icon="FontIcon.Save"
				OnClick="async () => await SaveAsync()" />
	</Actions>
	<Body>
		<Row>
			<Cell Size="2">
				@I18n.Model.CollectionType_Name
			</Cell>
			<Cell Size="8">
				<TelerikTextBox @bind-Value="Model.Name" Width="50%" Class="min-width" />
			</Cell>
		</Row>
	</Body>
</MxView>