@inherits PageListView<CollectionTypeModel>

<MxView>
	<Actions>
		&nbsp;
		<OptionMenu>
			<Items>
				<OptionItem Text="Add" OnClick="() => Form()" />
			</Items>			
		</OptionMenu>
	</Actions>
	<Body>
		<TelerikListView @ref="list"
						 TItem="CollectionTypeModel"
						 OnRead="ReadItemsAsync"
						 Pageable="true"
						 PageSize="Source.PageSize">
			<Template>
				<div class="d-flex align-items-start">
					<div class="flex-grow-1">
						<OptionMenu>
							<Items>
								<OptionItem Text="Edit" OnClick="() => Edit(context)" />
								<OptionItem Text="Delete" OnClick="async () => await DeleteAsync(context)" />
							</Items>							
						</OptionMenu>
						<div class="mb-2">
							@if (context.Inactive)
							{
								<span class="text-muted">[inactive] </span>
							}
							<strong class="ms-2">@context.Name</strong>
						</div>
					</div>
				</div>
				<hr />
			</Template>
		</TelerikListView>
	</Body>
</MxView>