@inherits PageListView<CountryModel>

<MxView>
	<Body>
		<TelerikListView TItem="CountryModel"
						 OnRead="ReadItemsAsync"
						 Pageable="true"
						 PageSize="Source.PageSize">
			<Template>
				<div class="d-flex align-items-start">
					<div class="flex-grow-1">
						<div class="ms-2">
							<strong>@context.Name</strong>
							<Separator />
							<small>ISO2: @context.Iso2 | ISO3: @context.Iso3</small>
						</div>
					</div>
				</div>
				<hr />
			</Template>
		</TelerikListView>
	</Body>
</MxView>