@inherits View<FieldModel>

<MxView>
	<Body>
		<Row>
			<Cell Size="3">
				<TelerikCard Class="m-2">
					<CardHeader class="px-4 pt-4">
						<div @onclick='() => SelectStaticData("Species")' class="cursor-pointer">
							<h5 class="card-title mb-0">Species</h5>
						</div>
					</CardHeader>
					<CardBody class="px-4 pt-2">
						<p>Nomenclatorul de specii care pot face obiectul protocolului Nagoya etc etc</p>
					</CardBody>
				</TelerikCard>
			</Cell>
			<Cell Size="3">
				<TelerikCard Class="m-2">
					<CardHeader class="px-4 pt-4">
						<div @onclick='() => SelectStaticData("Collection")' class=" cursor-pointer">
							<h5 class="card-title mb-0">Resource collections</h5>
						</div>
					</CardHeader>
					<CardBody class="px-4 pt-2">
						<p>Lista institutiilor detinatoare de colectii din Romania etc etc.</p>
					</CardBody>
				</TelerikCard>
			</Cell>
			<Cell Size="3">
				<TelerikCard Class="m-2">
					<CardHeader class="px-4 pt-4">
						<div @onclick='() => SelectStaticData("CollectionType")' class="cursor-pointer">
							<h5 class="card-title mb-0">Resource type collections</h5>
						</div>						
					</CardHeader>
					<CardBody class="px-4 pt-2">
						<p>Tipurile de colectii detinute de institutii din Romania etc etc</p>
					</CardBody>
				</TelerikCard>
			</Cell>
			<Cell Size="3">
				<TelerikCard Class="m-2">
					<CardHeader class="px-4 pt-4" >
						<div @onclick='() => SelectStaticData("MeasureUnit")' class="cursor-pointer">
							<h5 class="card-title mb-0">Measure units</h5>
						</div>						
					</CardHeader>
					<CardBody class="px-4 pt-2">
						<p>Lista unitatilor de masura in care cantitatile de resurse genetice sunt solicitate etc etc</p>
					</CardBody>
				</TelerikCard>
			</Cell>
			<Cell Size="3">
				<TelerikCard Class="m-2">
					<CardHeader class="px-4 pt-4" >
						<div @onclick='() => SelectStaticData("Country")' class="cursor-pointer">
							<h5 class="card-title mb-0">Countries</h5>
						</div>						
					</CardHeader>
					<CardBody class="px-4 pt-2">
						<p>Lista tarilor etc etc</p>
					</CardBody>
				</TelerikCard>
			</Cell>
			<Cell Size="3">
				<TelerikCard Class="m-2">
					<CardHeader class="px-4 pt-4">
						<div @onclick='() => SelectStaticData("County")' class="cursor-pointer">
							<h5 class="card-title mb-0">Counties</h5>
						</div>
					</CardHeader>
					<CardBody class="px-4 pt-2">
						<p>Lista judetelor etc etc</p>
					</CardBody>
				</TelerikCard>
			</Cell>
		</Row>
	</Body>
</MxView>