@inherits FormView<CategoryModel>

<MxView Title="Category form" LayoutStyle="ViewLayoutStyle.Simple">
	<Body>
		<MxCard Bordered="true">
			<CardBody>
				<Row>
					<Cell Size="2"></Cell>
					<Cell Size="8">
						<Row>
							<Cell Size="12" CssClass="min-width">
								<Button CssClass="float-end"
										Icon="FontIcon.Save"
										OnClick="async () => await SaveAsync()" />
							</Cell>
						</Row>
						<Separator Type="SeparatorType.Line" />
						<Row>
							<Cell Size="12">
								<span>Name</span>
								<Separator />
								<TelerikTextBox @bind-Value="Model.Name" Width="70%" Class="min-width" />
							</Cell>
						</Row>
						<Row>
							<Cell Size="12">
								<span>Description</span>
								<Separator />
								<TelerikTextArea @bind-Value="Model.Description" Width="70%" Class="min-width textarea" />
							</Cell>
						</Row>
						<Row>
							<Cell Size="12">
								<span>Is fixed</span>
								<Separator />
								<TelerikSwitch @bind-Value="Model.IsFixed" />
							</Cell>
						</Row>
						@if(Model.IsFixed)
						{
							<Row>
								<Cell Size="12" CssClass="min-width">
									<span for="Frequency">Frequency</span>
									<Separator />
									<TelerikDropDownList @bind-Value="Model.Frequency"
														 Data="EnumData.CategoryFrequencyList"
														 Id="Frequency"
														 ValueField="Id"
														 TextField="Name" 
														 Width="30%"
														 DefaultText="">
									</TelerikDropDownList>
								</Cell>
							</Row>
							<Row>
								<Cell Size="12">
									<span>Amount (£)</span>
									<Separator />
									<TelerikNumericTextBox @bind-Value="Model.Amount" Width="30%" Class="min-width" />
								</Cell>
							</Row>
						}						
					</Cell>
					<Cell Size="2"></Cell>
				</Row>
			</CardBody>
		</MxCard>
	</Body>
</MxView>