@inherits View

<MxView LayoutStyle="ViewLayoutStyle.Simple">
	<Body>
		<MxCard Bordered="true">
			<CardBody>
				<Row>
					<Cell Size="1"></Cell>
					<Cell Size="10">
                        <TelerikChart>
                            <ChartTitle Text="Yearly net/loss"></ChartTitle>
                            <ChartTooltip Visible="true"></ChartTooltip>
                            <ChartLegend Position="ChartLegendPosition.Bottom"></ChartLegend>

                            <ChartSeriesItems>
                                <ChartSeries Type="ChartSeriesType.Line"
                                             Data="@Source"
                                             Width="2"
                                             DashType="@DashType.DashDot"
                                             Style="ChartSeriesStyle.Smooth"
                                             Field="TotalAmount">
                                </ChartSeries>
                            </ChartSeriesItems>

                            <ChartCategoryAxes>
                                <ChartCategoryAxis Categories="@Source.Select(x => (object)x.Year).ToArray()"></ChartCategoryAxis>
                            </ChartCategoryAxes>

                        </TelerikChart>
					</Cell>
					<Cell Size="1"></Cell>
				</Row>
			</CardBody>
		</MxCard>
	</Body>
</MxView>